<div>
  <h2 id="page-heading" data-cy="ExameHeading">
    <span jhiTranslate="clinicHealthSimpleApp.exame.home.title">Exames</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clinicHealthSimpleApp.exame.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exame"
        [routerLink]="['/exame/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clinicHealthSimpleApp.exame.home.createLabel"> Create a new Exame </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exames?.length === 0">
    <span jhiTranslate="clinicHealthSimpleApp.exame.home.notFound">No exames found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exames && exames.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoexame">
            <span jhiTranslate="clinicHealthSimpleApp.exame.tipoexame">Tipoexame</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="valorexame">
            <span jhiTranslate="clinicHealthSimpleApp.exame.valorexame">Valorexame</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descontoconvenio">
            <span jhiTranslate="clinicHealthSimpleApp.exame.descontoconvenio">Descontoconvenio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomemmedico">
            <span jhiTranslate="clinicHealthSimpleApp.exame.nomemmedico">Nomemmedico</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prerequisito">
            <span jhiTranslate="clinicHealthSimpleApp.exame.prerequisito">Prerequisito</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datasolicitacao">
            <span jhiTranslate="clinicHealthSimpleApp.exame.datasolicitacao">Datasolicitacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dataresultado">
            <span jhiTranslate="clinicHealthSimpleApp.exame.dataresultado">Dataresultado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomemedico.id">
            <span jhiTranslate="clinicHealthSimpleApp.exame.nomemedico">Nomemedico</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoexame.id">
            <span jhiTranslate="clinicHealthSimpleApp.exame.tipoexame">Tipoexame</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contaClinica.id">
            <span jhiTranslate="clinicHealthSimpleApp.exame.contaClinica">Conta Clinica</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exame of exames; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exame', exame.id, 'view']">{{ exame.id }}</a>
          </td>
          <td>{{ exame.tipoexame }}</td>
          <td>{{ exame.valorexame }}</td>
          <td>{{ exame.descontoconvenio }}</td>
          <td>{{ exame.nomemmedico }}</td>
          <td>{{ exame.prerequisito }}</td>
          <td>{{ exame.datasolicitacao | formatMediumDatetime }}</td>
          <td>{{ exame.dataresultado | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="exame.nomemedico">
              <a [routerLink]="['/medico', exame.nomemedico?.id, 'view']">{{ exame.nomemedico?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exame.tipoexame">
              <a [routerLink]="['/resultado-exame', exame.tipoexame?.id, 'view']">{{ exame.tipoexame?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exame.contaClinica">
              <a [routerLink]="['/conta-clinica', exame.contaClinica?.id, 'view']">{{ exame.contaClinica?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/exame', exame.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/exame', exame.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(exame)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="exames && exames.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
