<div>
  <h2 id="page-heading" data-cy="PagamentoExameHeading">
    <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.home.title">Pagamento Exames</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pagamento-exame"
        [routerLink]="['/pagamento-exame/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.home.createLabel"> Create a new Pagamento Exame </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pagamentoExames?.length === 0">
    <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.home.notFound">No pagamentoExames found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pagamentoExames && pagamentoExames.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="formapagamento">
            <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.formapagamento">Formapagamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conteudo">
            <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.conteudo">Conteudo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="seliquidado">
            <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.seliquidado">Seliquidado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="exame.id">
            <span jhiTranslate="clinicHealthSimpleApp.pagamentoExame.exame">Exame</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagamentoExame of pagamentoExames; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pagamento-exame', pagamentoExame.id, 'view']">{{ pagamentoExame.id }}</a>
          </td>
          <td>{{ pagamentoExame.formapagamento }}</td>
          <td>{{ pagamentoExame.conteudo }}</td>
          <td>{{ pagamentoExame.seliquidado }}</td>
          <td>
            <div *ngIf="pagamentoExame.exame">
              <a [routerLink]="['/exame', pagamentoExame.exame?.id, 'view']">{{ pagamentoExame.exame?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pagamento-exame', pagamentoExame.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pagamento-exame', pagamentoExame.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pagamentoExame)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pagamentoExames && pagamentoExames.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
