<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-conta-clinica-heading"
        data-cy="ContaClinicaCreateUpdateHeading"
        jhiTranslate="clinicHealthSimpleApp.contaClinica.home.createOrEditLabel"
      >
        Create or edit a Conta Clinica
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.contaClinica.cpf" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
          <div *ngIf="editForm.get('cpf')!.invalid && (editForm.get('cpf')!.dirty || editForm.get('cpf')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cpf')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.contaClinica.senha" for="field_senha">Senha</label>
          <input type="text" class="form-control" name="senha" id="field_senha" data-cy="senha" formControlName="senha" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.contaClinica.cpf" for="field_cpf">Cpf</label>
          <select class="form-control" id="field_cpf" data-cy="cpf" name="cpf" formControlName="cpf">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pacienteOption.id === editForm.get('cpf')!.value?.id ? editForm.get('cpf')!.value : pacienteOption"
              *ngFor="let pacienteOption of cpfsCollection; trackBy: trackPacienteById"
            >
              {{ pacienteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
