<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-pagamento-exame-heading"
        data-cy="PagamentoExameCreateUpdateHeading"
        jhiTranslate="clinicHealthSimpleApp.pagamentoExame.home.createOrEditLabel"
      >
        Create or edit a Pagamento Exame
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.pagamentoExame.formapagamento" for="field_formapagamento"
            >Formapagamento</label
          >
          <input
            type="text"
            class="form-control"
            name="formapagamento"
            id="field_formapagamento"
            data-cy="formapagamento"
            formControlName="formapagamento"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.pagamentoExame.conteudo" for="field_conteudo"
            >Conteudo</label
          >
          <input type="text" class="form-control" name="conteudo" id="field_conteudo" data-cy="conteudo" formControlName="conteudo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.pagamentoExame.seliquidado" for="field_seliquidado"
            >Seliquidado</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="seliquidado"
            id="field_seliquidado"
            data-cy="seliquidado"
            formControlName="seliquidado"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.pagamentoExame.exame" for="field_exame">Exame</label>
          <select class="form-control" id="field_exame" data-cy="exame" name="exame" formControlName="exame">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="exameOption.id === editForm.get('exame')!.value?.id ? editForm.get('exame')!.value : exameOption"
              *ngFor="let exameOption of examesSharedCollection; trackBy: trackExameById"
            >
              {{ exameOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
