<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-paciente-heading"
        data-cy="PacienteCreateUpdateHeading"
        jhiTranslate="clinicHealthSimpleApp.paciente.home.createOrEditLabel"
      >
        Create or edit a Paciente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.paciente.cpf" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.paciente.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.paciente.idade" for="field_idade">Idade</label>
          <input type="text" class="form-control" name="idade" id="field_idade" data-cy="idade" formControlName="idade" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="clinicHealthSimpleApp.paciente.cpf" for="field_cpf">Cpf</label>
          <select class="form-control" id="field_cpf" data-cy="cpf" name="cpf" formControlName="cpf">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="contaClinicaOption.id === editForm.get('cpf')!.value?.id ? editForm.get('cpf')!.value : contaClinicaOption"
              *ngFor="let contaClinicaOption of cpfsCollection; trackBy: trackContaClinicaById"
            >
              {{ contaClinicaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
