<div>
  <h2 id="page-heading" data-cy="ResultadoExameHeading">
    <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.home.title">Resultado Exames</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resultado-exame"
        [routerLink]="['/resultado-exame/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.home.createLabel"> Create a new Resultado Exame </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resultadoExames?.length === 0">
    <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.home.notFound">No resultadoExames found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="resultadoExames && resultadoExames.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prescricao">
            <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.prescricao">Prescricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="indicacao">
            <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.indicacao">Indicacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contraindicacao">
            <span jhiTranslate="clinicHealthSimpleApp.resultadoExame.contraindicacao">Contraindicacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultadoExame of resultadoExames; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resultado-exame', resultadoExame.id, 'view']">{{ resultadoExame.id }}</a>
          </td>
          <td>{{ resultadoExame.descricao }}</td>
          <td>{{ resultadoExame.prescricao }}</td>
          <td>{{ resultadoExame.indicacao }}</td>
          <td>{{ resultadoExame.contraindicacao }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resultado-exame', resultadoExame.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resultado-exame', resultadoExame.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(resultadoExame)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="resultadoExames && resultadoExames.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
